
.form{
    padding: 0.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    border: 3px solid #840516;
    border-radius: 35px;
    width: 800px;
    height: 700px;
    margin:auto;
    background-color: rgba(201, 192, 192, 0.856);
    font-family: 'TTVTechPrecomput', sans-serif;
    color:  #1a1b1b;
  }
  
  .titleForm{
  display: flex;
  justify-content: center;
  font-size: 30px;
  color:  #6f1723;
  font-weight: bold;
  }
  

  .concatFiltro{
    display: inline-flex;
  }
  
  .boton{
    padding: 8px 20px;
    border-radius: 35px;
    border: 5px solid #600d0d;
    list-style: none;
    color:#eeeae1;
    font-family: 'TTVTechPrecomput', sans-serif;
    font-weight: bold;
    
    margin: 0 8px;
    cursor: pointer;
    white-space: nowrap; 
    
    outline: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #0d678a;
    
}
    .boton::before {
        content: " ";
        
        border-radius: 35px;
        top: 0;
        left:0;
        height:100%;
        width: 100%;
        z-index:-1;
        transition: .2s;
    }

.boton:hover {
        border-color: #0000CD;
        box-shadow: 0px 3px 20px 0px black;
        transform: scale(1.2);
        background-color: #FFD700;
        color:#252422;
        transition: all 0.3 ease-out;
}

  .types{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 7rem;
  }

  .choosed {
    background-color: rgba(54, 54, 54, 0.8);
    width: 650px;
    height: 100px;
    padding: 0rem;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
  }

  
  .choosed::-webkit-scrollbar {
    width: 1rem;
    background-color: #FFD700;
  }

  .choosed::-webkit-scrollbar-thumb {
    background-color: #252422;
    border-radius: 10px;
  }

 .card98 {
    width: 5rem;
    height: 2.5rem;
    background-color: #ccc5b98a;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; 
    padding: 0rem;
  }

.cross {
    width: 0.9rem;
    height: 0.9rem;
    background-color: #0d678a;
    border-color: #504f4f;
    color: rgb(214, 210, 214);
    border-radius: 4px;
    display: flex; 
    justify-content: center;
    align-items: center;

}

.cross:hover{
  color:#FFD700;
  transition: all 0.3 ease-out;
}

.pokeName{
  font-size: 0.8rem;
  font-family: Helvetica;
}


.btn-createPoke{
  border-radius: 35px;
  border-color: #ed0e24;
  list-style: none;
  color:#dfdddb;
  font-family: 'TTVTechPrecomput', sans-serif;
  font-size: 20px;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap; 
  padding: 8px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color:  #0d678a;
}


.btn-createPoke::before {
  content: " ";
  position: absolute;
  border-radius: 35px;
  top: 0;
  left:0;
  height:100%;
  width: 100%;
  z-index:-1;
  transition: .2s;
}

.btn-createPoke:hover {
  border-color: #252422;
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
  background-color: #2c5878;
  color:#252422;
  transition: all 0.3 ease-out;
}
.res{
  width:180px;
padding:3px 10px;
border:1px solid #f6f6f6;
border-radius:3px;
background-color:#f6f6f6;
margin:8px 0;
display:inline-block;
}

.error{
  color: rgb(36, 45, 81);
  text-shadow: 2px 4px 10px black;
  margin-top: -2%;
  margin-bottom: 1%;
}

.select {
  background-color: #dbddde;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #242222;
  border: 1px solid #8E9097;
  border-radius: 5px;
  height: 30px;
  width: 80%;
  margin-top: 4%;
  margin-bottom: 10%;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  text-align: left;
  vertical-align: top;

}

.select:hover {
  cursor: pointer;
}

.opt {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
  background: #1a2433;
}

.btn {
  color: #090909;
  padding: 0.2rem 1.2rem;
  width: 200px;
  font-size: 18px;
  border-radius: 0.5em;
  background: #eeeeee62;
  border: 2px solid #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn_disabled {
  color: #0909096e;
  padding: 0.2rem 1.2rem;
  width: 200px;
  font-size: 18px;
  border-radius: 0.5em;
  background: #eeeeee62;
  border: 2px solid #0909096e;
  cursor: not-allowed;
}

@media (max-width: 1370px) {
  .formBox {
    width: 50%;
  }

  .inputs input {
    width: 43%;
  }
}



